html,
body {
  background-color: rgba(240, 245, 249);
  margin: 0px;
}

.all {
  position: fixed;
  bottom: -18%;
  right: 5%;
  display: flex;
  perspective: 10px;
  transition: all 1.3s ease-out;
  justify-content: center;
}

.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  /* transform: perspective(10000px) rotateX(0deg); */
}

.all:hover .text {
  opacity: 1;
}

.all:hover > div {
  opacity: 1;
  transition-delay: 0s;
}

.all:hover .explainer {
  opacity: 0;
}